.card-wrap{
  justify-content:center;
  align-items:center;
  display:-webkit-flex;
  height:100%;
  width:100%;
}
mat-card {
  max-width: 432px;
  width:50%;
  margin: auto;
  text-align: center;
  height: auto;
}
mat-card-subtitle{
  height:100px;
  width:calc(100% - 40px);
  background: white;
  margin-left:20px;
}
mat-card-content{
  height:auto;
  width:100%;
}
mat-card-content form{
  height:auto;
  width:100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
mat-card-content form mat-form-field{
  margin:5px 20px;
}
.login-btn,.register-btn{
  width:calc(100% - 40px);
  margin: 10px auto;
}
.login-btn button{
  width:100%;
}
.register-btn button{
  width:100%;
}
.switch-box{
  position:relative;
  text-align: center;
}
.switch-box span{
  color: #175199;
  cursor: pointer;
}

@media screen and (max-width: 720px) {
  mat-card {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}