<mat-toolbar class="text-tool">
  <mat-toolbar-row>
    <button mat-raised-button color="primary" [disabled]="!(hasChanged && passwordChangeForm.valid)" (click)="edit()">
      Save
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <form [formGroup]="passwordChangeForm" autocomplete="off">
      <mat-dialog-content>
        <mat-form-field class="my-mat-input">
          <input matInput placeholder="Old password" name="oldPassword" type="password" [(ngModel)]="passwordDatas.oldPassword" formControlName="oldPassword"
            minlength="6" maxlength="14" required />
          <mat-error>{{errorData.oldPassword}}</mat-error>
          <mat-hint align="end">{{passwordDatas.oldPassword?.length}} / 14</mat-hint>
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-content formGroupName="passwordGroup">
        <mat-form-field class="my-mat-input">
          <input matInput placeholder="New password" name="newPassword" required type="password" [(ngModel)]="passwordDatas.newPassword"
            formControlName="newPassword" minlength="6" maxlength="14" />
          <mat-error>{{errorData.newPassword}}</mat-error>
          <mat-hint align="end">{{passwordDatas.newPassword?.length}} / 14</mat-hint>
        </mat-form-field>

        <mat-form-field class="my-mat-input">
          <input matInput placeholder="Confirm password" name="confirmPassword" required type="password" [(ngModel)]="passwordDatas.confirmPassword"
            formControlName="confirmPassword" minlength="6" maxlength="14" />
          <mat-error>{{errorData.confirmPassword}}</mat-error>
          <mat-hint *ngIf="errorData.confirmPassword" style="color: #f44336;">{{errorData.confirmPassword}}</mat-hint>
          <mat-hint align="end">{{passwordDatas.confirmPassword?.length}} / 14</mat-hint>
        </mat-form-field>
      </mat-dialog-content>

      <mat-dialog-actions class="dialog-actions">
        <button mat-raised-button [disabled]="!passwordChangeForm.valid" (click)="edit()" color="primary">Save</button>
        <button mat-raised-button matDialogClose color="warn">Cancel</button>
      </mat-dialog-actions>
    </form>
  </mat-card-content>
</mat-card>