<mat-card>
  <mat-card-content>
    <mat-list class="change-password-list">
      <form [formGroup]="passwordChangeForm" autocomplete="off">
        <mat-list-item class="change-password-item">
          <mat-form-field class="my-mat-input">
            <input matInput placeholder="Old password" name="oldPassword" type="password" [(ngModel)]="passwordDatas.oldPassword" formControlName="oldPassword"
              minlength="6" maxlength="14" required />
            <mat-error>{{errorData.oldPassword}}</mat-error>
            <mat-hint align="end">{{passwordDatas.oldPassword?.length}} / 14</mat-hint>
          </mat-form-field>
        </mat-list-item>
        <div formGroupName="passwordGroup">
          <mat-list-item class="change-password-item" style="margin-top:0">
            <mat-form-field class="my-mat-input">
              <input matInput placeholder="New password" name="newPassword" required type="password" [(ngModel)]="passwordDatas.newPassword"
                formControlName="newPassword" minlength="6" maxlength="14" />
              <mat-error>{{errorData.newPassword}}</mat-error>
              <mat-hint align="end">{{passwordDatas.newPassword?.length}} / 14</mat-hint>
            </mat-form-field>
          </mat-list-item>
          <mat-list-item class="change-password-item">
            <mat-form-field class="my-mat-input">
              <input matInput placeholder="Confirm password" name="confirmPassword" required type="password" [(ngModel)]="passwordDatas.confirmPassword"
                formControlName="confirmPassword" minlength="6" maxlength="14" />
              <mat-error>{{errorData.confirmPassword}}</mat-error>
              <mat-hint *ngIf="errorData.confirmPassword" style="color: #f44336;">{{errorData.confirmPassword}}</mat-hint>
              <mat-hint align="end">{{passwordDatas.confirmPassword?.length}} / 14</mat-hint>
            </mat-form-field>
          </mat-list-item>
        </div>

        <!-- <div style="text-align: center; color: #319ec1; font-size: 12px;">
          <span style="color:red; font-size: 14px;">*&nbsp;</span>
          请保证新老密码不一致，且新密码和确认密码输入一致
        </div> -->

        <div  class="identifyingCodeBox" style="width: 300px;margin: 0 auto;display: flex;flex-direction: row;justify-content: center;align-items: center;" *ngIf="isShowIdentifyingCode">
          <input class="input-box" style="height: 23px; width: 100px;margin-right: 20px;" placeholder="identify code" name="identifyCode" type="text" [(ngModel)]="passwordDatas.captchaImage" formControlName="captchaImage">
          <img  class="identifyingCodeImg" [src]="identifyingCodeImg" alt="identifying-code" style="width:130px;">
          <img class="reload" src="../../../../assets//images/reload.png" alt="刷新" style="width: 22px;margin-left: 10px; cursor: pointer;" (click)="reLoadIdentifyingCode()">
        </div>

        <mat-card-actions>
          <button mat-raised-button [disabled]="!passwordChangeForm.valid || httpRequestSuccess" (click)="resetPassword()" color="primary">Save</button>
        </mat-card-actions>
      </form>
    </mat-list>
  </mat-card-content>
</mat-card>