mat-card{
  min-width: 100%;
  min-height: calc(100% - 50px);
  box-shadow: none;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  mat-card-content{
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    padding: 30px;
    box-sizing: border-box;
    .change-password-item{
      margin: 20px 0;
      .mat-list-item-content{
        text-align: center;
        mat-form-field{
          width: 300px;
          margin: 0 auto;
        }
      }
    }
    mat-card-actions{
      text-align: center;
      margin: 30px 0 0 0;
      padding: 0;
    }
  }
}
@media screen and (max-width: 1024px) {
  .input-box{
    box-shadow: 1px 1px 1px #888888; 
  }
}
@media (min-width: 375px) and (max-width: 768px) {
  .mat-card-content{
    height:400px!important;
    width: 90%!important;
    margin: 0 auto!important;
    padding: 0 10px!important;
  }
  .input-box{
    width: 80px !important;
    box-shadow: 1px 1px 1px #888888; 
    margin: 0 20px 0 0 !important;
  }
  .reload{
    width: 20px !important;
  }
}
@media screen and (max-width: 374px) {
  .mat-card-content{
    height:400px!important;
    width: 90%!important;
    margin: 0 auto!important;
    padding: 0 10px!important;
  }
  .input-box{
    width: 80px !important;
    box-shadow: 1px 1px 1px #888888; 
    margin: 0 10px 0 0 !important;
  }
  .mat-form-field-label-wrapper, .mat-form-field-infix{
    font-size: 12px !important;
  }
  .reload{
    width: 20px !important;
  }
  .identifyingCodeImg{
    height: 30px !important;
    width: 107px !important;
  }
  .mat-form-field{
    width:220px!important;
  }
  .identifyingCodeBox{
    width:100% !important;
  }
}

    