.wrap{
  background-color: #001e50;
  color: #a3a9b5;
  background: lightblue;
  height:100px;
  min-width:1100px;
  margin:0;
}
@media screen and (max-width: 720px) {
  .wrap{
    min-width: 100%;
  }
}
@media screen and (min-width: 720px) and (max-width: 830px) {
  .wrap{
    min-width: 830px;
  }
}
