<div class="header" [ngStyle]="{'position':scrollHeight>50?'fixed':'relative'}">
  <div class="header-left">
    <!-- <a href="javascript:void(0);"> -->
    <a href="./">
      <img src="../../../assets/logo.png" (click)="onLogoClicked();" alt="logo">
    </a>
  </div>
  <div class="remaining-space"></div>
  <div class="header-search">
    <form >
      <div (click)="onEnter($event, searchContent.value)">搜索</div>
      <div>
        <input #searchContent type="text" (keydown.enter)="onEnter($event, searchContent.value);" placeholder="百度搜索">
        <input type="text" style="display: hidden;">
      </div>
    </form>
  </div>
  <div class="header-right">
    <a href="javascript:void(0);">
      <img [src]="userAvatar" alt="userAvatar" style="border-radius:20px;">
    </a>
    <span style="color:#fff;max-width: 50px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;" *ngIf="isLogin">{{userName}}</span>
    <span style="color:#fff;" *ngIf="!isLogin" (click)="onLogin()">Login</span>
    <div class="setting-block" *ngIf="isLogin">
      <div (click)="routerToProfilePage()">个人信息</div>
      <div (click)="onLogOut()">退出</div>
    </div>
  </div>    
</div>
