.header {
  z-index: 2;
  min-height: 50px;
  max-height: 50px;
  position: relative;
  top: 0px;
  background: rgba(0, 0, 0,0.75);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px #888888;     
  }
.header-left {
  display: flex;
}
.header-left img{
  display:inline-block;
  height:48px;
  margin-left:20px;
}
.header-search{
  width:600px;
  height:30px;
  position:absolute;
  top:50%;
  left:50%;
  margin-top:-15px;
  margin-left:-300px;
}
.header-search form{
  height:100%;
  width:100%;
  overflow: hidden;
}
.header-search form>div:first-child{
  float:right;
  height:30px;
  width:60px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  text-align: center;
  line-height: 30px;
  color:#fff;
  background:#FD7E23;
  cursor: pointer;
}
.header-search form>div:last-child{
  float:right;
  height:30px;
  width:calc(100% - 75px);
}
.header-search form>div:last-child>input{
  display:inline-block;
  height: 100%;
  width:calc(100% - 15px);
  border: none;
  outline:none;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  padding:0 0 0 15px;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right:20px;
}
.header-right:hover .setting-block{
  display:block;
}
.header-right img{
  display:inline-block;
  height:42px;
  margin:4px 20px 0 0;
}
.setting-block{
  display:none;
  height: 50px;
  width: 100px;
  position: absolute;
  bottom: -50px;
  right: 0px;
  background: #fff;
  font-size: 0.75em;
  text-align: center;
}
.setting-block div{
  padding:5px;
}
.setting-block>div a{
  text-decoration:none;
  color:black;
}
.setting-block>div a:hover{
  text-decoration:underline;
  cursor: pointer;
  color: #FD7E23;
}
.remaining-space {
flex: 1 1 auto;
}
@media screen and (max-width: 720px) {
  .header{
    min-width: 100%;
    min-height: 48px;
    max-height: 48px;
  }
  .header-left img{
    height:48px;
  }
  .header-right img{
    height:36px;
    margin: 4px 0 0 0;
  } 
  .header-right span{
    display:none;
  }
  .header-search{
    display:none;
  }
}
@media screen and (min-width: 720px) and (max-width: 830px) {
  .header{
    min-width: 830px;
    min-height: 48px;
    max-height: 48px;
  }
  .header-left img{
    height:48px;
  }
  .header-right img{
    height:36px;
  }
  .header-search{
    width:300px;
    margin-left:-150px;
  }
}
