<div class="header" [ngStyle]="{'position':scrollHeight>50?'fixed':'relative'}">
  <div class="header-left">
    <a href="javascript:void(0);">
      <img src="../../../assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="remaining-space"></div>
  <div class="header-search">
    <form>
      <div>搜索</div>
      <div>
        <input type="text" placeholder="百度搜索">
      </div>
    </form>
  </div>
  <div class="header-right">
    <a href="javascript:void(0);">
      <img src="../../../assets/userLogo.png" alt="userLogo">
    </a>
    <span style="color:#fff;">{{userName}}</span>
  </div>    
</div>
