<div class="header">
  <div class="header-left">
    <a href="#">
      <img style="display:inline-block;height:60px;margin-left:20px" src="../../../assets/logo.png" alt="logo">
    </a>
  </div>
  <div class="remaining-space"></div>
  <div class="header-right">
    <a href="">
      <img src="../../../assets/userLogo.png" alt="userLogo" style="display:inline-block;height:60px;margin:4px 20px 0 0;">
    </a>
    <span>xiaoxiao</span>
    <!-- <app-account-portal></app-account-portal> -->
  </div>    
</div>
