.header {
  z-index: 2;
  min-height: 50px;
  max-height: 50px;
  position: relative;
  top: 0px;
  background: rgba(0, 0, 0,0.75);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 1px #888888;     
  }
.header-left {
  display: flex;
}
.header-left img{
  display:inline-block;
  height:48px;
  margin-left:20px;
}
.header-right {
  display: flex;
  align-items: center;
  margin-right:20px;
}
.header-right img{
  display:inline-block;
  height:42px;
  margin:4px 20px 0 0;
}
.remaining-space {
flex: 1 1 auto;
}
@media screen and (max-width: 720px) {
  .header{
    min-width: 100%;
    min-height: 48px;
    max-height: 48px;
  }
  .header-left img{
    height:48px;
  }
  .header-right img{
    height:36px;
    margin: 4px 0 0 0;
  } 
  .header-right span{
    display:none;
  }
}
@media screen and (min-width: 720px) and (max-width: 830px) {
  .header{
    min-width: 830px;
    min-height: 48px;
    max-height: 48px;
  }
  .header-left img{
    height:48px;
  }
  .header-right img{
    height:36px;
  }
}
