<div style="height:100%; width:100%;">
  <!-- 头部 -->
  <app-header class="detail-header"></app-header>
  <!-- 内容部分 -->
  <div class="content-part">
    <div class="title">
      <h1>{{articleObj.title}}</h1>
      <p>
        <span>发表时间：{{articleObj.created_at}}</span>
        <span>作者：{{articleObj.author}}</span>
      </p>
    </div>
    <div class="detail-content" style="background:whitesmoke;">
      <markdown class="markdownItem" [data]="textData"></markdown>
    </div>
    <div class="detail-footer"></div>
  </div>
</div>
