
.content-part{
  height:calc(100% - 60px);
  width:60%;
  padding: 0 20%;
  margin:0 auto;
}
.detail-header{
  .header{
    width:100%;
  }
}
.detail-content {
  img{
    display:block;
    margin:0 auto;
    max-width:80%;
  }
  // .img-box{
  //   text-align: center;
  // }
}
