<div style="height:100%; width:100%;">
  <!-- 头部 -->
  <app-header class="detail-header"></app-header>
  <!-- 内容部分 -->
  <div class="content-part">
    <div class="title">
      <h1>哈里王子婚礼细节曝光 新娘婚礼上不会有首席伴娘</h1>
      <p>
        <span>2018-05-06 04:54</span>
        <span>中国新闻网</span>
      </p>
    </div>
    <div class="detail-content" style="background: pink;">
      哈里王子婚礼细节曝光 即将首次见到准岳父 新娘婚礼上不会有首席伴娘 英国哈里王子与未婚妻梅根·马克尔定于19日在温莎城堡内圣乔治教堂举行婚礼。肯辛顿宫4日在一份声明中说，哈里王子即将首次见到准岳父，马克尔婚礼上不会有首席伴娘。 哈里王子是英国王位第六顺位继承人。2016年7月，他与马克尔经朋友介绍认识，恋情发展16个月后于去年11月在伦敦订婚。
      眼下距离婚礼不足半个月时间。肯辛顿宫发言人贾森·克瑙夫说，马克尔离异的父母托马斯·马克尔和多里娅·拉格兰将来到伦敦，与哈里王子一家相处一段时日，包括哈里王子的祖母、英国女王伊丽莎白二世。 这将是哈里王子首次见到未婚妻的父亲。 婚礼前夜，哈里王子与马克尔将分开，不再见面，直至婚礼当天新娘父亲挽着她的手走上仪式通道。
      宾客定于当地时间19日9时30分(北京时间16时30分)开始入场，王室成员11时20分(北京时间18时20分)入场。按照惯例，女王伊丽莎白二世最后一个到场。 哈里王子的哥哥威廉王子一家将出席婚礼，除了刚出生尚未满月的小王子。另外，如果哈里王子的祖父菲利普亲王身体状况允许，也将出席。菲利普亲王现年96岁，前不久接受手术，现处于康复阶段。
      婚礼仪式中午开始，预计持续一个小时。坎特伯雷大主教贾斯廷·韦尔比将见证新人成婚。 哈里王子的伴郎是威廉王子，马克尔没有首席伴娘。克瑙夫说，马克尔决定不选首席伴娘。“她有很多好朋友，她不想选了这个而没选那个。她们都在积极帮她准备婚礼。婚礼前数日，她们会来到伦敦，到温莎城堡陪她。”
      婚礼仪式过后，这对新人将乘坐马车在温莎城堡巡游，与受邀前来的2640名大众宾客打招呼。 他们不会立即度蜜月，而会在婚礼一周后亮相公众活动。 另外，哈里王子过世母亲的家人也将出席婚礼。 马克尔比哈里王子大3岁，1981年8月在美国出生，近年居住在加拿大多伦多。她2003年从美国西北大学毕业后进入演艺圈，拍摄电视剧和电影，最知名作品是电视剧《金装律师》。她2011年9月与一名电影制片人结婚，两年后离婚。据新华社
    </div>
    <div class="detail-footer">

    </div>
  </div>
</div>
