
.img-box{
  min-width: 158px;
  height:auto;
  margin-right: 13px;
  float: left;
  cursor: pointer;
}
.img-box img{
  width:158px;
  height:102px;
}
.text-box{
  /* float: left; */
  width:calc(100% - 158px);
  height:auto;
  margin-left:158px;
}
.instruction{
  /* line-height: 24px; */
  /* display: box; */
  /* -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 14px;
  margin: 0;
  padding: 0; */
  position: relative; 
  line-height: 20px; 
  max-height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: normal;
}
.instruction::after{
  content: "..."; 
  position: absolute; 
  bottom: 0; 
  right: 0; 
  padding-left: 40px;    
  background: -webkit-linear-gradient(left, transparent, #fff 55%);    
  background: -o-linear-gradient(rightright, transparent, #fff 55%);    
  background: -moz-linear-gradient(rightright, transparent, #fff 55%);    
  background: linear-gradient(to rightright, transparent, #fff 55%); 
  }
