app-personal-infor{
  mat-toolbar {
    background-color: transparent;
  }
  mat-toolbar-row {
    justify-content: flex-end;
    .mat-raised-button {
      margin-left: 10px;
    }
  }
  .personal-infor-card{
    min-height: calc(100% - 64px);
    box-sizing: border-box;
    min-width: 100%;
    margin: 0;
    .personal-infor-content{
      padding:20px 50px;
      min-height: 100%;
      min-width: 100%;
      box-shadow: none !important;
      box-sizing: border-box;
      .item-custom{
        height:60px !important;
      }
      .f-left {
        min-width: 100px;
        text-align: left;
      }
      .f-right {
        flex-grow: 1;
        text-align: left;
        .gen-wid {
          width: 300px;
          margin: 0;
        }
      }
      label{
        margin-right:50px;
      }
      .hobby-item{
        .mat-list-item-content{
          height: auto !important;
        }
      }
    }
  }
  .img-upload {
    padding: 4px 10px;
    height: 20px;
    line-height: 20px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1 ;
    text-decoration: none;
  }

  .img-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
  }

  .img-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
  }
  .upload-img-box{
    height: 300px;
    width: 300px;
    border: 1px solid gray;
  }
  @media (min-width: 769px) and (max-width: 960px) {
    .personal-infor-content{
      padding:20px 10px !important;
    }
    .item-custom{
      .f-left{
        min-width: 60px !important;
      }
      .f-right .gen-wid{
        width: 230px !important;
      }
    }
  }
  @media (min-width: 331px) and (max-width: 768px) {
    .personal-infor-card{
      padding:0 !important;
      height:calc(100% - 56px) !important;
      padding-left:10px !important;
    }
    .personal-infor-content{
      padding:0 !important;
    }
    .item-custom{
      .f-left{
        font-size:12px !important;
        min-width: 60px !important;
      }
      .f-right .gen-wid{
        font-size:12px !important;
        min-width: 150px !important;
        width: 60% !important;
      }
    }
    .mat-radio-outer-circle{
      height: 18px !important;
      width: 18px !important;
    }
    .mat-radio-inner-circle{
      height: 15px !important;
      width: 15px !important;
      top: 2px !important;
      left: 2px !important;
    }
    .mat-radio-label-content{
      font-size: 12px;
    }
    label{
      margin-right: 30px !important;
    }
  }
  @media screen and (max-width: 330px) {
    .personal-infor-card{
      padding:0 !important;
      height:calc(100% - 56px) !important;
      padding-left:10px !important;
    }
    .personal-infor-content{
      padding:0 !important;
    }
    .mat-list-item-content{
      padding:0 !important;
    }
    .item-custom{
      .f-left{
        font-size:12px !important;
        min-width: 50px !important;
      }
      .f-right .gen-wid{
        font-size:12px !important;
        width: 130px !important;
      }
    }
    .mat-radio-outer-circle{
      height: 18px !important;
      width: 18px !important;
    }
    .mat-radio-inner-circle{
      height: 15px !important;
      width: 15px !important;
      top: 2px !important;
      left: 2px !important;
    }
    .mat-radio-label-content{
      font-size: 12px;
    }
    label{
      margin-right: 30px !important;
    }
  }
}