.personal-setting-card{
  min-height: 100%;
  min-width: 100%;
  margin: 0;
  box-sizing: border-box;
  .item-custom{
    height:60px !important;
  }
  .f-left {
    min-width: 100px;
    text-align: left;
  }
  .f-right {
    flex-grow: 1;
    text-align: left;
    display: flex !important;
    align-items: center !important;
    .gen-wid {
      width: 300px;
      margin: 0;
    }
  }
  .personal-setting-content{
    padding:20px 0 20px 50px;
    min-height: 100%;
    min-width: 100%;
    box-shadow: none !important;
    box-sizing: border-box;
  }
  .edit-custom{
    font-size: 12px; 
    color: #36c;
  }
  .edit-custom:hover{
    cursor: pointer;
  }
}
@media (min-width: 321px) and (max-width: 760px) {
  .personal-setting-card .mat-card-content{
    padding : 0 !important;
  }
  .mat-list-item-content{
    padding: 0 !important;
  }
  .f-left{
    min-width: 50px !important;
    font-size: 12px;
  }
  .f-right .gen-wid{
    width: 150px !important;
    font-size: 12px;
    margin-right: 6px !important;
  }
  .edit-custom{
    word-break: keep-all;
  }
}
@media screen and (max-width: 320px) {
  .personal-setting-card .mat-card-content{
    padding : 0 !important;
  }
  .mat-list-item-content{
    padding: 0 !important;
  }
  .f-left{
    min-width: 45px !important;
    font-size: 12px;
    margin-left:5px !important;
  }
  .f-right .gen-wid{
    width: 140px !important;
    font-size: 12px;
    margin-right: 6px !important;
  }
  .edit-custom{
    word-break: keep-all;
  }
}
