.app-component{
  height:100%;
  width:auto;
}
app-content-list{
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  min-height:calc(100% - 224px);
  height:auto;
  width:100%;
  background:pink;
  margin:0px;
}
@media screen and (max-width: 720px) {
  app-footer{
    display:none;
    height:0;
  }
  app-content-list{
    min-height:calc(100% - 64px);
  }
}
@media screen and (min-width: 720px) and (max-width: 830px) {
  app-footer{
    display:none;
    height:0;
  }
  app-content-list{
    min-height:calc(100% - 64px);
  }
}


