.wrap{
  height:100%;
  width:100%;
}
.header-box{
  min-width:1100px;
}
.content-box{
  height:calc(100% - 50px);
  width:990px;
  margin: 0 auto;
  box-sizing: border-box;
}
.content-box>.left-sidepart{
  float: left;
  height:100%;
  width:150px;
  background: pink;
  padding: 20px 10px;
  box-sizing: border-box;
}
.left-sidepart>div{
  height: 100px;
  width: 100px;
}
.left-sidepart>div>img{
  height: 100%;
  width: 100%;
}
.left-sidepart>ul{
  height: calc(100% - 140px);
  width: calc(100% - 20px);
  padding: 0;
}
.left-sidepart>ul>li{
  list-style-type:none;
  width:100%;
  height: 30px;
}
.right-sidepart{
  float: left;
  height:100%;
  width:calc(100% - 150px);
  background: yellow;
}