<div class="wrap-box">
  <!-- 头部 -->
  <app-header class="detail-header"></app-header>
  
  <div class="personal-infor-box">
    <div class="left-sidepart">
      <div><img src="/assets/userLogo.png" alt="user-logo"></div>
      <ul>
        <li class="personal-item" *ngFor="let item of personalItemArr let itemCount = index">
          <span (click)="addItemComponent(itemCount)" [ngClass]="{'activeItem':selecteditem === itemCount}">{{item}}</span>
        </li>
      </ul>
    </div>
    <div class="right-sidepart">
      <ng-template #dmroom></ng-template>
    </div>
  </div>
</div>